.page {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.content-section {
  padding-inline-start: var(--indent-1);
  padding-inline-end: var(--indent-1);
}

.title {
  color: var(--accent-color);
  font-size: var(--main-fontsize);
  font-weight: 700;
  line-height: 1.3em;
}

.title-decor {
  color: var(--bg-color);
  background-color: var(--accent-color);
  line-height: 1.3em;
  font-weight: 400;
}

.text-accent {
  text-decoration: none;
  border: 1px solid transparent;
  text-shadow: 3px 2px 0 var(--accent-color);
}

.text-accent:focus {
  outline: none;
}

.text-accent:focus-visible {
  border-color: var(--text-color);
}

.text-accent:hover {
  border-block-end-color: var(--text-color);
}

.header {
  position: relative;
  padding: var(--indent-1) 0 66px;
  background-image: url(../images/cover-image-dark.png);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 287%;
}

.corner::before {
  position: absolute;
  content: '';
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.corner::after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 10px;
  height: 25px;
  width: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.header__wrapper {
  display: grid;
  grid-template-rows: repeat(3, min-content);
}

.header-decor {
  position: relative;
  margin-inline-start: auto;
  padding-inline-end: 28px;
  line-height: 1.45em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.header-decor::after {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  top: 7px;
  right: 10px;
  border-radius: 50%;
  background-color:  var(--accent-color);
  box-shadow: 0 0 11px var(--accent-color);
}

.header__theme-menu {
  padding-block-start: 39px;
}

.header__theme-menu-list {
  display: grid;
  justify-content: end;
  gap: 10px;
  margin: 0;
  padding: 0;
  padding-block-end: 75px;
  list-style: none;
  color: var(--accent-color);
}

.header__theme-menu-button {
  padding: 0 13px;
  line-height: 135%;
  background-color: transparent;
  text-transform: lowercase;
  border: 1px solid transparent;
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
  pointer-events: none
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: var(--accent-color);
}

.header__theme-menu-button:hover {
 border: 1px solid rgba(255, 0, 112, 0.4);;
}

.header__title {
  margin-block-end: 48px;
  font-family: inherit;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  font-weight: 700;
  line-height: 1.28em;
}

.reasons {
  padding-block-start: 40px;
  padding-block-end: var(--indent-5);
}

.reasons__title {
  margin-bottom: var(--indent-2);
}

.list {
  display: grid;
  gap: var(--indent-2);
}

.list__item-title {
  margin-block-end: var(--indent-1);
  font-size: 18px;
  line-height: 1.3em;
}

.list__item-text {
  line-height: 1.3em;
}

.concentration {
  padding-block-end: var(--indent-5);
}

.concentration__title {
  margin-block-end: var(--indent-2);
}

.advices {
  margin-block-end: var(--indent-5);
}

.advices__title {
  margin-block-end: var(--indent-2);
}

.advices__text {
  margin-block-end: var(--indent-2);
  font-weight: 700;
}

.gallery {
  padding-block-end: 40px;
}

.gallery__title {
  margin-block-end: var(--indent-1);
  font-weight: 700;
}

.gallery__list {
  display: grid;
  gap: var(--indent-1);
  font-size: 0;
}

.footer {
  position: relative;
  padding: 295px 0 278px;
}

.footer__title {
  font-family: inherit;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-align: center;
}