:root {
  /*Ширины экранов*/

  --min-width: 375px;
  --tablet-width: 768px;
  --desktop-width: 1024px;
  --max-width: 1440px;

  /*Фоновое изображение*/

  --background-image: url(../images/cover-image-dark.png);

  /*Цвета*/

  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --menu-shadow: rgba(255, 0, 112, 0.4);

  --title-decor-color: var(--bg-color);
  --heading-color: var(--accent-color);
  --menu-item-color: var(--accent-color);

  /*Переменные для шрифта*/

  --main-fontsize: 18px;

  /*Размер заголовка*/

  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (min-width: 1024px) {
  :root {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
